.syntax--css {
    .syntax--support {
        &.syntax--constant {
            color: @normal-text;
        }

        &.syntax--property-name {
            color: @css-property;
        }
    }

    .syntax--keyword {
        &.syntax--unit {
            color: @css-unit;
        }
    }

    .syntax--constant {
        &.syntax--numeric {
            color: @normal-text;
        }

        &.syntax--color {
            color: @named-constant;
        }
    }

    .syntax--entity {
        &.syntax--tag {
            color: @html-tag;
        }

        &.syntax--id {
            color: @function-name;
        }
    }

    .syntax--punctuation {
        &.syntax--delimiter {
            color: @punctuation;

            + .syntax--constant.syntax--numeric:not(.syntax--color) {
                color: @css-unit;
            }
        }
    }
}
