// text colors
@normal-text: #f4f4e6;
@constant: #ea5e5e;
@numeric-constant: #f34949;
@keyword: #e881b0;
@class-name: #f58457;
@various: #f7c882; // js objects, HTML attributes, css class names
@quoted-string: #a4dc82;
@function-name: #83c7e6;
@regexp: #89ddf3;
@punctuation: #d6d5c6;  // operators, punctuation, css constants
@css-property: #a8d0c9;
@css-unit: #f7cbac;
@css-constant: #e8daad;
@html-tag: #f76f6f;
@js-dom-keyword: #e693a6;

// find and replace
@find-result-border: lighten(@find-result-bg, 40%);
@find-result-bg: #305258;

// other colors
@bg-color: #1f1e1e;
@cursor: #00a293;
@selection: #12323c;

// in progress
@light-gray: #B2CCD6;
@gray: #373b41;
@dark-gray: #282a2e;

@indigo: #7986CB; // only used in Python
@pink: #FF5370; // null or "language"(?)
@red: #f00; // find out when this pops up
